.mySelect {
    color: rgb(114,9,121);
    margin-top: 20px;
    margin-left: 5px;
}

.options {
    color: rgb(114,9,121);
    font-size: 20px;
}

@media (max-width: 1200px) {
    .options {
        font-size: 15px;
    }
} 


